@charset "utf-8";
/* CSS Document */
body{ width:1350px; height:100px; background:url(../images/bg.jpg) no-repeat; position:relative; font-family:"微软雅黑"; font-size:16px;}
#login{ position:absolute; left:540px; top:260px; width:300px; text-align:left; }
label{ letter-spacing:3px;}
input{ border:none; border:1px solid #FFB693; height:20px;}
.text-input{ width:210px; margin-left:5px;}
.text{ width:65px;}
img{ height:23px; width:55px; margin-bottom:-7px;}
.button{ border:none; font-family:"微软雅黑"; font-size:17px;color:#FFF; padding-bottom:6px; background: url(../images/one.png) no-repeat; width:60px; height:30px;}
a{ text-decoration:none; color: #666; font-size:14px; letter-spacing:2px;}
a:hover{ position:relative; top:1px; left:1px;}
p.special{ text-align:center; margin-top:28px;}
