<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>kjj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>hjj.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news</servlet-name>
    <servlet-class>hjj.news.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>person</servlet-name>
    <servlet-class>hjj.person.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>person</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>web</servlet-name>
    <servlet-class>hjj.web.WebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web</servlet-name>
    <url-pattern>/web</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>document</servlet-name>
    <servlet-class>hjj.document.DocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>document</servlet-name>
    <url-pattern>/document</url-pattern>
  </servlet-mapping>
</web-app>